.listContainer{
    width: 90%;
    margin: 50px auto;
}

.listContainer h1{
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.errorMsg{
    margin-top: 100px;
    text-align: center;
}

.errorMsg h3{
    font-weight: 600;
}

@media only screen and (min-width: 2000px) {
    .mainContainer {
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
    }
  }
  
  @media only screen and (min-width: 2600px) {
    .mainContainer {
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 3500px) {
    .mainContainer {
      margin-left: 33%;
      margin-right: 33%;
      width: 34%;
    }
  }
  
  @media only screen and (min-width: 4000px) {
    .mainContainer {
      margin-left: 37.5%;
      margin-right: 37.5%;
      width: 25%;
    }
  }