.pagesContainer{
    width: 80%;
    margin: 100px auto;
}

.pagesContainer ul{
    margin: 20px;
}

.pagesContainer li{
    margin: 5px;
}

.pagesContainer a{
    color: white;
}

.pagesContainer a:hover{
    color: rgb(150, 150, 150);
}

.pagesContainer h3{
    color: #e9232d;
}